<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Yash Desai</h1>
    <h2>Welcome to my blog</h2>
    <p>I am trying to become more active in sharing the world around me and want to explore the medium or blogging</p>
    <p>Follow my blog to here more about my life from my technical endeavours to simple things that fascinate me every day</p>
  </div>
</div>